{% extends 'portfolio/base.html' %}

{% block title %}About Me{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 text-center">
            {% if about.profile_image %}
            <img src="{{ about.profile_image.url }}" alt="Profile Image" class="img-fluid rounded-circle mb-3">
            {% endif %}
        </div>
        <div class="col-md-8">
            <h1>About Me</h1>
            {% if about %}
            <p><strong>Date of Birth:</strong> {{ about.date_of_birth }}</p>
            <p><strong>Address:</strong> {{ about.address }}</p>
            <p><strong>Email:</strong> {{ about.email }}</p>
            <p><strong>Phone:</strong> {{ about.phone }}</p>
            <p><strong>Languages:</strong> {{ about.languages }}</p>
            <p><strong>Hobbies:</strong> {{ about.hobbies }}</p>
            <p>{{ about.long_bio }}</p>
            <a href="{{ about.cv_download_link }}" class="btn btn-primary">Download CV</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
